{% load static %}
<section class="ftco-section ftco-intro" style="background-image: url({% static 'images/bg_3.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 heading-section heading-section-white ftco-animate">
    <h2 class="mb-3">Ready to Sell Your Car?</h2>
    <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=DmwnWrRpddJdTKjHPhthTrjcTjrDcbxmFHWnPmxcDgMhxKBnplchQrDWVMtKRgmrjCsNPnRMcKZv" class="btn btn-primary btn-lg" target="_blank">Sell My Car</a>
  </div>
        </div>
    </div>
</section>